body
	p Hi {{name}}, 
	p Did you know that 72% of home sellers list with the first agent they interview?
	p If you are interested in becoming the first agent a motivated home seller speaks to click the link below.
	a( style="font-weight: bold;" href = "http://www.fliptr.co/sign_up?uuid={{uuid}}&me=000") Click Here To See How Flipt Can Help You

