p Best,
table
	thead
		tr
			th
				img( style ="padding-right: 10px", width = 70, src = "https://s3-us-west-2.amazonaws.com/flipt/email/email_signatures/8613458193494119.jpg" alt="customer_success")

			th( style="text-align: left; padding-left: 10px; border-left: 2px solid #9ed175" ).
				<span>Ashley H.</span>
				<br>
				<span>Customer Success Specialist</span>
				<br>
				<span style="color: #9ed175; font-weight: bold;">Flipt For Real Estate</span>
p P.S. If you'd prefer I not contact you with future opportunities, let me know <a href="www.fliptr.com/marketing_unsubscribes/{{uuid}}?me=000">here.</a>
table
	tbody
		tr(height = 10)
		tr( style="text-align: center;")
			td( style = "font-size: 12px; padding: 5px 10px 5px 0px;") Flipt
			td(style = "border-left: 1px solid; font-size: 12px; padding: 5px 10px;") 500 Yale Avenue
			td(style = "border-left: 1px solid; font-size: 12px; padding: 5px 10px;") Seattle, WA 98109
			td(style = "border-left: 1px solid; font-size: 12px; padding: 5px 10px;") United States